body{
  font-family: 'Sora', sans-serif;
}

h1{
  text-align: center;
}

h3{
  padding: 1%;
  text-align: center;
  width: 40vw;
  border: 1px solid black;
  margin-left: 30%;
}

.whole{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.each{
  padding: 5%;
  border: 1px solid black;
  margin: 5%;
}

.display,.lr{
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}

button{
  padding: 1%;
  font-size: 1.2em;
  background-color: blueviolet;
  border: transparent;
  cursor: pointer;
  color: white;
  font-family: 'Sora', sans-serif;
}

button:hover{
  background-color: tomato;
}

input{
  height: 2em;
  width: 20vw;
  font-size: 1em;
  text-align: center;
}